@model IEnumerable<WebApplication3.Models.Table_1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bike)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bike)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cost }) |
            @Html.ActionLink("Details", "Details", new { id=item.cost }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cost })
        </td>
    </tr>
}

</table>
